include mixins/page

+page('home', `${brand} - ${$i18n.home.title}`, $i18n.home.description)
    .container
        .row.align-items-center
            .col-md
                div
                    p.h1.text-uppercase.brand.animate__animated.animate__fadeInDown= brand
                    h1.animate__animated.animate__slow.animate__fadeIn= $i18n.home.title
                    h2.animate__animated.animate__slow.animate__fadeIn= $i18n.home.description
                    div.animate__animated.animate__slow.animate__fadeIn
                        a.download(href=appStoreUrl)
                            img.img-fluid(src='/images/app_store_btn.png', alt=$i18n.home.brand)
                        a.download(href=googlePlayUrl)
                            img.img-fluid(src='/images/google_play_btn.png', alt=$i18n.home.brand)

            .col-md
                img.animate__animated.animate__delay-1s.animate__slow.animate__fadeIn(src='/images/mockups.png', alt=$i18n.home.brand).float-md-end.img-fluid

